* {
    padding: 0px;
    margin: 0px;
    font-family: Arial;
}
.navbar{
    height: 60px;
    background-color: #0f1111 ;
    color: white;
}
 
.nav-logo{
    height: 50px;
    width: 100px;

}

.logo{
    background-image: url(amazon_logo1.png);
    background-size: cover;
    height: 50px;
    width: 100px;

}
